@charset "utf-8";
/* ===================================================================
 style info :リセット及びbody初期設定 (このCSSは通常変更しない)
=================================================================== */
/* reset */
html {
	overflow-y: scroll;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content: '';
}
object,
embed {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}
img,abbr,acronym,fieldset {
	border: 0;
}
li {
	list-style-type: none;
}
img{
	vertical-align:bottom;
}
hr{
	border:none;
	height:5px;
	background:url(../images/index_bg.png) repeat;
	margin-bottom:20px;
	border-top:1px solid #e6e6e6;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary
{
	margin:0;
	padding:0;
}

/* default */
body {
	font-size: small;
	font-family:myriad-pro-condensed-1, myriad-pro-condensed-2, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif,'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','Osaka','メイリオ','Meiryo',sans-serif;
	line-height: 1.4;
	color:#333333;
}

a {
	text-decoration: none;
	color:#232323;
}

/* IE6 base font */
* html body {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
@font-face {
    font-family: 'scupo.ttf';
    src: url(./fonts/scupo.ttf);
}

/* style */
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.center{
	text-align:center;
}
.color_red{
	color:#CC0000;
}
.st{
	font-weight:bold;
}
/* clearfix */
.clear{ 
	/zoom : 1; 
}
.clear:after{ 
	content : ''; 
	display : block; 
	clear : both; 
}
html,body{
		height:100%;
}