@charset "utf-8";

/* CSS Document */
/* ===================================================================
基本CSS
=================================================================== */

/* --------------------------------------------------------
wrapper
-------------------------------------------------------- */
a:hover {
color:#ff025b;
}
#wrapper{
 font-family:futura;
 letter-spacing: 0.1em;
}
/* --------------------------------------------------------
header
-------------------------------------------------------- */
header{
	width: 100%;
	color:#ffffff;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(0, #FF2190),
	color-stop(1, #3BF5E9),
	color-stop(1, #FFD500),
	color-stop(1, #533E6E)
);
background-image: -o-linear-gradient(right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
background-image: -moz-linear-gradient(right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
background-image: -webkit-linear-gradient(right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
background-image: -ms-linear-gradient(right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
background-image: linear-gradient(to right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
}
header p{
	padding:10px 0 10px 10px;
	border-bottom:1px solid #ffffff;
}
header h1{
	text-align:center;
	font-size:28px;
	padding:40px 0;
}
div.menu li{
	float: left;
	margin-right: 15px;
	font-size: 18px;
}
/* --------------------------------------------------------
future
-------------------------------------------------------- */
div#future{
	margin-bottom:20px;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	right bottom,
	color-stop(0, #FF2190),
	color-stop(1, #3BF5E9),
	color-stop(1, #FFD500),
	color-stop(1, #533E6E)
);
background-image: -o-linear-gradient(right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
background-image: -moz-linear-gradient(right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
background-image: -webkit-linear-gradient(right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
background-image: -ms-linear-gradient(right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
background-image: linear-gradient(to right, #FF2190 0%, #3BF5E9 100%, #FFD500 100%, #533E6E 100%);
}
div#future ul{
	display:table;
	table-layout: fixed;
	width:100%;
	max-width:1800px;
	max-height:315px;
	min-width:900px;
	margin:0 auto;
}
div#future  li{
	display:table-cell; 
	width:33.3333333%;
	position:relative;
	overflow:hidden;
}
/* カテゴリ */
div#future h3{
	position:absolute;
	right:0;
	padding: 4px 14px;
	background-color:#ffffff;
	color:#232323;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
div#future h2{
	position:absolute;
	width:max;
	color:#ffffff;
	font-size:48px;
	bottom:0;
	padding:2px 20px 2px;
	margin:0 10px 10px 10px;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
/* --------------------------------------------------------
main
-------------------------------------------------------- */
div#container{
	width: 1120px;
	margin: 0 auto;
}

article#main{
	width: 900px;
	margin-bottom: 20px;
	padding:30px 0 0;
}
article#main h1{
	font-size:18px;
}
li.post {
	width:280px;
	margin: 0 20px 20px 0;
	position:relative;
	min-height:300px;
}
li.post h3{
	position:absolute;
	padding: 4px 10px;
	right:0;
	font-size:10px;
	background-color:#ffffff;
	color:#232323;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
article#main li.post h2{
	font-size:14px;
	margin:0 0 6px;
}
h4 li{
	 border-radius: 6px;        /* CSS3草案 */  
    -webkit-border-radius: 6px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 6px;   /* Firefox用 */
	font-size:10px;
	padding:4px 6px;
	background-color:#f0f0f0;
	margin-right:4px;	
}
article#main li.post h5{
	font-size:10px;
	margin-bottom:10px;
}
article#main li.post img{
	margin-bottom: 10px;
}
article#main h1{
	margin-bottom: 15px;
}
/* --------------------------------------------------------
sidebar
-------------------------------------------------------- */
aside#sidebar{
	width:190px;
	padding:30px 0 0;
}
aside#sidebar section h3{
	margin-bottom:20px;
	font-size:18px;
}	
aside#sidebar section {
	margin-bottom:30px;
}	
aside#sidebar li{
	font-size:18px;
	margin-bottom:20px;
}
section#tag li{
	 border-radius: 6px;        /* CSS3草案 */  
    -webkit-border-radius: 6px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 6px;   /* Firefox用 */
	font-size:10px;
	padding:4px 6px;
	background-color:#f0f0f0;
	margin-right:4px;	
}
/* --------------------------------------------------------
footer
-------------------------------------------------------- */
footer{
	text-align:center;
	padding:40px 0px;
	background: #fff;
}
/* --------------------------------------------------------
single
-------------------------------------------------------- */
body.single h1{
	font-size:24px;
}
body.single nav.bread{
	margin-bottom:20px;
}
body.single ul.meta{
	margin-bottom:20px;
}
body.single ul.social{
	margin-top:20px;
}
body.single div#container{
	width:1120px;
	margin:0 auto;
	padding:10px 0 0;
	
}
body.single div#main{
	margin-top:30px;
	width:900px;
	
}
body.single h1{
	font-size:28px;
	margin-bottom:20px;
}
body.single ul.cat ul{
	margin-bottom:20px;
}
body.single ul.cat li{
	font-size:22px;
}
body.single ul.tag ul{
	margin-bottom:20px;
}
body.single ul.tag li{
	 border-radius: 6px;        /* CSS3草案 */  
    -webkit-border-radius: 6px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 6px;   /* Firefox用 */
	font-size:10px;
	padding:4px 6px;
	background-color:#f0f0f0;
	margin-right:4px;
}
.post_single{
	line-height:200%;
	height:auto;
}
.post_single p.thmb{
	text-align:center;
	margin-bottom:20px;
}
.pagination{
	margin-top:20px;
	text-align:center;
}
.page-numbers{
padding:4px 6px;
background:#ffffff;
}